.intro-container {
    background-image: url('https://images.pexels.com/photos/266098/pexels-photo-266098.jpeg?cs=srgb&dl=adorable-baby-beautiful-266098.jpg&fm=jpg');
    height: 200vh;
    top: -50vh;
    left: -50vh;
    background-size: cover;
    background-position: center;
}
#bg {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#bg img {
    position: absolute;
    width: 150%;
    height: 150%;
    top: -25%;
    left: -25%;
    object-fit: cover;
    transition: transform 1s;
    transition-timing-function: linear
}
#intro-contents {
    text-align: center;
    position: absolute;
    color: white;
    transition: transform 1s;
    transition-timing-function: linear
}