.front-door-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://assets.parents.com/s3fs-public/styles/fp_1x1_1080/public/shutterstock_488651425.jpg?GfFJAVqUzkBF0MIWtpbWK1nW7CisxLnd&h=4362216e');
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.front-door-contents {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}